<div class="text-center">
    <h3>Most noteable company: 
        <span class="text-danger"><%= fakerCompany %></span></h3>
    <h5>Company catch phrase: <span class="font-italic text-danger">
        <%= fakerCatchPhrase %></span></h5>
</div>