<div class="text-center">
    <h3>Quote of the <del>day</del> page refresh (Faker data)</h3>
    <blockquote>&quot;<%= fakerPhrase %>&quot;</blockquote>
    -<span class="font-weight-bold font-italic"><%= fakerName %></span>
</div>