        <footer>
            <hr>CST336 Internet Programming. 2020&copy; Bundy <br />
            <strong>Disclaimer:</strong> This webpage is for academic purposes only.
                        
            <figure>
                <img src="img/csumb_logo.png" alt="CSUMB Logo" />
            </figure>
        </footer>
    </body>
</html>