<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <header> 
            <h1> Home Appliances </h1>
        </header>
        <hr />
        <nav>
            <a href="index.html">Home</a>
            <a href="assistants.html">Virtual Assistants</a>
            <a class="current" href="appliances.html">Appliances</a>
            <a href="fitness.html">Fitness</a>
        </nav>
        
        <br /> <br />
        
        <main>
            
            <figure>
                <img src="img/appliances.jpeg" alt="Smarthome"/>
            </figure>
            
            <div>
                <h2>Intro to Smart Home Devices</h2>
                <p>
                    Home smart devices are perhaps the most common of all the devices 
                    in the IoT. There is at least one, and likely dozens, of devices 
                    for every aspect of home living. These smart appliances can be 
                    controlled through <a class="embedded" href="assistants.html">
                        Virtual Assistants</a> or desktop/mobile apps. 
                </p>
                
                <br />
                
                <p>
                    Their functionality ranges from security to meal preparation to 
                    energy efficiency. There are devices, like Ring, that allow 
                    homeowners to see who is at their door. There are innumerable 
                    kitchen appliances that have been integrated with some smart 
                    functionality or another. Still more devices allow for control 
                    over electricity use, lighting, and temperature control. 
                </p>
                
                <h3>Home Device Examples:</h3>
                <dl>
                  <dt>Security</dt>
                  <dd>- Ring</dd>
                  <dd>- ADT Pulse</dd>
                  <dt>Kitchen</dt>
                  <dd>- COSORI Smart WiFi Air Fryer</dd>
                  <dd>- NutriBullet NBR-0601</dd>
                  <dt>Electricity Management</dt>
                  <dd>- ecobee4</dd>
                  <dd>- SensorPush</dd>
                </dl>
            </div>
        </main>
        
        <br />
        
        <p>Sources: </p>
        <div id="sources">
            <a href="https://www.postscapes.com/internet-of-things-award/connected-home-products/" 
             target="_blank">IoT Home Guide</a>
        </div>
        
    <%- include('partials/footer.ejs') %>