<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <header> 
            <h1> Virtual Assistants </h1>
        </header>
        <hr />
        
        <br /> <br />
        
        <main>
            
            <div class="px-3">
                <h2>Intro to Virtual Assistants</h2>
                <p>
                    One of the most visible and prevalent of IoT devices is the virtual 
                    home assistant, usually manifesting as a smart speaker. 
                    A virtual home assistant(VHA) allows users to access not only a 
                    multitude of features that come by default with these devices, but 
                    also to connect other <a class="embedded" href="appliances.html">
                    smart home devices</a> as well. 
                </p>
                
                <br />
                
                <h2>Amazon Alexa</h2>
                <p>
                    One of the most famous VHA is the Amazon Echo with the voice interface 
                    known as Alexa. Alexa is an interactive AI program that learns 
                    as it goes and allows users to give voice commands rather than 
                    have to access their devices through applications on their computers 
                    and/or smartphones.
                </p>
                
                <figure>
                    <img src="img/echo.jpeg" alt="Amazon Echo" />
                    <figcaption>Amazon Echo</figcaption>
                </figure>
                
                <br />
                
                <h2>Google Home</h2>
                
                <p>
                    Another VHA is the Google Home Google Assistant. Much like the Echo, 
                    it is an AI voice interface that allows users to control their 
                    smart devices by speaking with the Assistant. 
                </p>
                
                <br />
                
                <figure>
                    <img src="img/google.jpeg" alt="Google Home" />
                    <figcaption>Google Home</figcaption>
                </figure>
                <br>
                
                <h3>VHA Examples:</h3>
                <dl>
                  <dt>Virtual Assistants</dt>
                  <dd>- Alexa</dd>
                  <dd>- Google Assistant</dd>
                  <dd>- Siri</dd>
                </dl>
                <br>
                
                <%- include('partials/fakerCompany.ejs') %>
                <br><br>
                
                <p>Sources: </p>
                <div id="sources">
                    <a href="https://www.lifewire.com/virtual-assistants-4138533" 
                     target="_blank">What a Virtual Assistant is and How It Works</a>
                    <br />
                    <a href="https://www.digitaltrends.com/home/what-is-amazons-alexa-and-what-can-it-do/" 
                     target="_blank">What Exactly is Alexa?</a>
                </div>
            </div>
            
        </main>
        
        <br />
        
    <%- include('partials/footer.ejs') %>