<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <header> 
            <h1> The Internet of Things </h1>
        </header>
        <hr />
        <nav>
            <a class="current" href="index.html">Home</a>
            <a href="assistants.html">Virtual Assistants</a>
            <a href="appliances.html">Appliances</a>
            <a href="fitness.html">Fitness</a>
        </nav>
        
        <br /> <br />
        
        <main>
            
            <figure>
                <img src="img/iot.png" alt="The Internet of Things" />
            </figure>
            
            <h2> Intro to the <abbr title="Internet of Things">IoT</abbr> </h2>
            <div>
                <p>
                    The last few years have seen smarter and more powerful technology 
                    enter our homes, places of work, and public spaces. As computing 
                    power increases, these devices are able to become smaller, more 
                    mobile, and more accessible. 
                </p>
                <br />
                <p>
                    The network of these devices is known as the Internet of Things 
                    (IoT), which combines smartphones with appliances, wearables, 
                    and other technologies. The IoT is able to share data, and 
                    from that, glean and utilize a great amount of information in 
                    order to enhance and assist in the lives of those who own such 
                    devices. 
                </p>
                <br />
                <p>
                    As of 2020, there are almost as many devices as there are people 
                    on the planet. This number will only continue to grow as the 
                    technology becomes cheaper and easier to acquire and integrate 
                    into the lives of those who use them.
                </p>
            </div>
            
            <blockquote>&quot;If you think that the internet has changed your life, think 
            again. The IoT is about to change it all over again!&quot;</blockquote>
            - Brendan O&apos;Brien, Chief Architect & Co-Founder, Aria Systems
        </main>
        
        <br /> 
        
        <p>Sources: </p>
        <div id="sources">
            <a href="https://www.wired.co.uk/article/internet-of-things-what-is-explained-iot" 
             target="_blank">What is the Internet of Things? WIRED explains</a>
            <br />
            <a href="https://www.ariasystems.com/blog/internet-things-quotes-consider/" 
             target="_blank">The &apos;Internet of Things&apos; Quotes to Consider</a>
        </div>
    <%- include('partials/footer.ejs') %>