body {
    background-color: #99ffcc;
    color:black;
}

header, main, nav, footer {
    text-align: center;
}

h1 {
    font-family: 'Ultra', serif;
    font-size: 4em;
    margin-bottom: 0px;
}

h2 {
    font-size: 2.3em;
    color: black;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

nav a { 
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #ff9933;
}

nav a:link {
    color: #1655D3;
}

nav a:visited {
    color: #EA3320;
}

nav .current {
    border-bottom:2px red solid;
    font-size: 1.8em;
    color: white;
}

.embedded {
    font-style: oblique;
    color: #0E66ED;
}

main {
    text-align: left;
    line-height: 1.2em;
}

abbr {
    font-style: oblique;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-size: 1.3em;
    color: gray;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 0;
}

dt {
    text-align: left;
    color: black;
}

dd {
    font-style: oblique;
    color: gray;
}

blockquote {
    font-style: italic;
    line-height: 1.2em;
    font-size: 2em;
    color: gray;
}

#sources {
    color: black;
}

footer {
    font-size: 1em;
    color: black;
}